/* client/src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #f0f2f5; /* Màu nền chuẩn Ant Design */
}

#root {
  width: 100%;
  height: 100%;
}